@import url("common.css");
@import url(shared.css);
@import url(header.css);
@import url(main.css);
@import url(footer.css);

html {
	scrollbar-width: none;
	-ms-overflow-style: none;
	font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

body {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
}

menu,
ul {
	margin: 0;
	list-style-type: none;
	padding-inline-start: 0;
}

a:link {
	color: var(--link-color);
}
a:visited {
	color: var(--link-visited);
}
a:hover {
	color: var(--link-hover);
}
a:active {
	color: var(--link-active);
}
